.details summary {
  font-weight: 700;
  user-select: none;
}

.btnAside {
  padding: var(--size-2);
  background-color: var(--gray-1);
  color: var(--gray-9);
  border-radius: var(--radius-1);
  display: inline-flex;
  gap: 1ch;
  text-decoration: none;

  @media (--large) {
    display: none;
  }
}

.version {
  font-size: 0.9em;
  font-weight: 600;
}
