.details summary {
  font-weight: 700;
  user-select: none;
}

.btnAside {
  padding: var(--size-2);
  background-color: var(--surface-2);
  color: var(--text-2);
  border-radius: var(--radius-1);
  display: inline-flex;
  gap: 1ch;
  text-decoration: none;

  @media (--large) {
    display: none;
  }
}

.btnAside:visited {
  color: var(--text-2);
}

.version {
  font-size: var(--font-size-fluid-1);
  font-weight: 600;
  color: var(--text-2);
}
