---
import IconDotCircle from './IconDotCircle.astro'

const { items, name, type } = Astro.props
---

<style>
  .header {
    font-weight: 700;
    font-size: var(--size-3);
    position: sticky;
    top: 0;
    padding: var(--size-3);
    background-color: #fff;
    text-transform: uppercase;
    letter-spacing: var(--font-letterspacing-2);
  }

  .shortcut {
    text-decoration: none;
    font-size: 0.9rem;
    padding-left: 1ch;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .menu {
    list-style-type: none;
    padding: 0 0 var(--size-3) var(--size-3);
    margin: 0;
  }

  .menu li {
    display: inline-flex;
    align-items: center;
    color: var(--type);
    overflow: hidden;
  }

  .item-class {
    --type: #fc9d9a;
  }

  .item-enum {
    --type: #c8c8a9;
  }

  .item-type-alias {
    --type: #f9cdad;
  }

  .item-def {
    --type: #83af9b;
  }
</style>

{
  items?.length && (
    <div>
      <h4 class="header mb-2">{name}</h4>

      <menu class="menu grid gap-2">
        {items?.map((item) => (
          <li class={`item-${type}`}>
            {type != null && <IconDotCircle />}

            <a class="shortcut" href={item.link}>
              {item.name}
            </a>
          </li>
        ))}
      </menu>
    </div>
  )
}
