<div id="docsearch"></div>

<script is:inline src="https://cdn.jsdelivr.net/npm/@docsearch/js@3"></script>
<script is:inline>
  docsearch({
    appId: 'PQOW96V1N8',
    apiKey: 'd2fbed25b5a02394ac4e8479f1501029',
    indexName: 'flix-api',
    container: document.getElementById('docsearch'),
    debug: true,
  })
</script>
