.dialog {
  width: clamp(50svw, var(--size-8), 90svw);
  padding: var(--size-3);
}

.btn {
  padding: var(--size-2) var(--size-3);
  border-radius: var(--radius-2);
  font-weight: 600;
}

.option {
  padding: var(--size-2) var(--size-3);
  border-radius: var(--radius-2);
  font-weight: 600;
}
