---
import Card from './Card.astro'
import Doc from './Doc.astro'
import Signature from './Signature.astro'
import Source from './Source.astro'
import SourceGrid from './SourceGrid.astro'

const { defs } = Astro.props
---

<h3>Definitions</h3>

<div class="grid gap-3">
  {
    defs.map((sig) => (
      <Card id={`d-${sig.sym.name}`}>
        <div class="grid gap-3">
          <SourceGrid>
            <Signature sig={sig} />
            <Source loc={sig.loc} />
          </SourceGrid>
          <div class="pl-3">
            <Doc doc={sig.doc} />
          </div>
        </div>
      </Card>
    ))
  }
</div>
