---
import Markdown from './Markdown.astro'

const doc = Astro.props.doc.join('\n')
---

<style>
  .doc {
    color: var(--gray-7);
  }

  .doc p {
    font-size: 0.9em;
  }
</style>

<div class="doc">
  <Markdown doc={doc} />
</div>
