---
import Markdown from './Markdown.astro'

const doc = Astro.props.doc?.join('\n')
---

<style>
  .doc {
    color: var(--text-2);
  }
</style>

{
  doc && (
    <div class="doc">
      <Markdown doc={doc} />
    </div>
  )
}
