<style>
  .wrapper {
    @media (--large) {
      display: none;
    }

    display: flex;
    justify-content: space-between;
  }

  .search {
    flex: 1;
    border: 1px solid var(--gray-2);
  }
</style>
<div class="wrapper">
  <button>ns</button>
  <button>syms</button>
</div>
