---
const { tparam, withKind = false } = Astro.props
---

<span class="t-type">{tparam.name}</span>{
  withKind && (
    <>
      <span> : </span>
      <span class="t-kind">{tparam.kind}</span>
    </>
  )
}
