---
const { tcs } = Astro.props
---

{
  tcs?.length > 0 && (
    <>
      <span class="t-keyword">with</span>{' '}
      <span class="sep">
        {tcs?.map((tc) => (
          <span>
            {/* Should we have a link to those type constraint? */}
            <span class="underline">{tc.sym.name}</span>[<span class="t-type">{tc.tpe}</span>]</span>
        ))}
      </span>
    </>
  )
}
