---
const { tparam } = Astro.props
---

<span class="t-type">{tparam.name}</span>
{
  tparam.withKind === false ? null : (
    <>
      <span> : </span> <span class="t-kind">{tparam.kind}</span>
    </>
  )
}
