.font-mono {
  font-family: var(--font-mono);
}

.font-light {
  font-weight: 300;
}

.font-semibold {
  font-weight: 600;
}

.font-bold {
  font-weight: 700;
}

.italic {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.align-center {
  align-items: center;
}

.justify-space-between {
  justify-content: space-between;
}

.gap-2 {
  gap: var(--size-2);
}

.gap-3 {
  gap: var(--size-3);
}

.p-2 {
  padding: var(--size-2);
}

.p-3 {
  padding: var(--size-3);
}

.pl-3 {
  padding-left: var(--size-3);
}

.px-3 {
  padding-left: var(--size-3);
  padding-right: var(--size-3);
}

.mb-2 {
  margin-bottom: var(--size-2);
}

.mb-3 {
  margin-bottom: var(--size-3);
}

.mb-5 {
  margin-bottom: var(--size-5);
}

.sep > *:not(:last-child)::after {
  content: var(--sep);
}

.stripped > *:nth-child(2n) {
  background-color: var(--gray-1);
}

.sticky {
  --top: 8px;
  position: sticky;
  top: var(--top);
  background-color: var(--surface-1);
}

.overflow-hidden {
  overflow: hidden;
}
