.font-mono {
  font-family: var(--font-mono);
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.align-center {
  align-items: center;
}

.justify-space-between {
  justify-content: space-between;
}

.gap-2 {
  gap: var(--size-2);
}

.gap-3 {
  gap: var(--size-3);
}
