.font-mono {
  font-family: var(--font-mono);
}

.italic {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.align-center {
  align-items: center;
}

.justify-space-between {
  justify-content: space-between;
}

.gap-2 {
  gap: var(--size-2);
}

.gap-3 {
  gap: var(--size-3);
}

.p-2 {
  padding: var(--size-2);
}

.pl-3 {
  padding-left: var(--size-3);
}

.mb-2 {
  margin-bottom: var(--size-2);
}

.mb-3 {
  margin-bottom: var(--size-3);
}

.mb-5 {
  margin-bottom: var(--size-5);
}

.sep > *:not(:last-child)::after {
  content: var(--sep);
}

.stripped > *:nth-child(2n) {
  background-color: var(--gray-1);
}
