---
import 'open-props'

import '../normalize.css'
import '../utils.css'
import '../main.css'
---

<html lang="en">
  <head>
    <meta charset="utf-8" />

    <link rel="shortcut icon" href="/favicon.png" type="image/png" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <meta name="color-scheme" content="light dark" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@docsearch/css@3"
    />

    <slot name="title"><title>api.flix.dev</title></slot>
  </head>
  <body>
    <div class="app">
      <slot name="left" />

      <main class="main">
        <slot />
      </main>

      <slot name="right" />
    </div>
  </body>
</html>
